.contact-td {
  height: 50px;
  vertical-align: center;
}

.contact-tr {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.contact-tableContainer {
  overflow: scroll;
  height: 500px;
  margin-left: auto;
}

.contact-thead {
  position: sticky;
  top: -10px;
  margin: 0 0 0 0;
  background-color: rgb(161, 161, 161);
  color: black;
}

.contact-page {
  margin: 0 auto;
  width: 60%;
}

.contact-box {
  display: grid;
  margin-top: 2em;
  padding: auto auto;
  background-color: #bebebe;
  height: auto;
  border-radius: 15px;
}

.contact-box2 {
  padding-left: 2%;
  color: white;
}

.contact-h1 {
  padding-top: 5%;
  padding-bottom: 2%;
}

.contact-table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-collapse: collapse;
}

.contact-table th,
.contact-table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
