.page{
    margin: 0 auto;
    width: 60%;
  }
 h1 {
    margin-top: 5%;
    margin-bottom: 2%;
    background-color: rgb(212, 212, 212);
    color: rgb(254, 254, 254);
    border-radius: 8px;
    padding-left: 50px; padding-top:15px ; padding-bottom:15px ;
    font-size: 25px;
    
 }  
 .tableContainer{
    overflow: scroll;
    margin-left: auto;
 }
 .thead{
    position: sticky;
    top: -10px;
    margin: 0 0 0 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
.no-h {
    align-content: 5%;
  }
  
.hospital-h {
    width: 40%; 
  }
.time-h{
    width: 40%; 

}
.status-h{
    width: 15%; 

}

.tb-head{
    text-align: center;
    background-color: rgb(202, 230, 255);
    border-spacing: 10px;
    cursor: pointer;

}

.bill-table{
    margin: 0 auto;
    width: 100%;


}


.bill-head{
    text-align: center;
    background-color: rgb(185, 185, 185);
    border-spacing: 10px;
}





.wrapper{
    display: flex;
    height: 100wh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 500px;
}
.item{
    background-color: rgba(202, 202, 202, 0.711) ;
    margin-bottom: 5px;
    padding: 10px 20px;
}
.title{
    color: blue;
    display: flex;
    justify-content:space-between ;
    align-items: center;
}

.content{
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1);
  }
  
  .content.show{
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
  }

